<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans       
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/rabbit
       	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd">

	<import resource="classpath:springs/mobanker-fx-rabbitmq.xml" /> 
<!-- 	<bean class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<property name="username" value="${mq.username}" />
		<property name="password" value="${mq.password}" />
		<property name="host" value="${mq.host}" />
		<property name="port" value="${mq.port}" />
		<property name="publisherReturns" value="true" />	
	</bean>	 -->
	
	<context:component-scan base-package="com.mobanker.engine.exec.rabbitmq.taskget" />
	<bean id="engineTaskAssignSender" class="com.mobanker.engine.exec.rabbitmq.assign.EngineTaskAssignSender"/>
	
	
	
</beans>
